:root{
  --beige: #fdf0d5;
  --blue: #003049;
  --red: #780000;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #fdf0d5;
  color: #003049;
}

header {
  background-color: #003049;
  color: #fdf0d5;
  padding: 1rem;
}

main {
  padding: 2rem;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

ul {
  list-style-type: square;
  text-align: left;
  display: inline-block;
}

a {
  color: #780000;
  text-decoration: none;
  display: block;
  margin: 0.5rem 0;
}